@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Brice';
  src:url("../../public/fonts/Brice-Bold.woff2") format(woff2),
  url('/fonts/Brice-Bold.woff') format('woff');
  font-weight: 700;
 
}

.mySwiper{
  width: 100%;
}

/* h2{
font-family: Brice;
} */

.from-left {
	        animation: from-left 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.6s both;
}
.from-right {
  animation: from-right 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.6s both;
}



@keyframes from-left {
  0% {
  
            transform: translateX(-750px);
    opacity: 0;
  }
  100% {
            transform: translateX(0);
    opacity: 1;
  }
}


@keyframes from-right {
  0% {
  
            transform: translateX(750px);
    opacity: 0;
  }
  100% {
            transform: translateX(0);
    opacity: 1;
  }
}



